*{
    box-sizing: border-box;
}

header{
    background-color: red;
    text-align: center;
    color: white;
    padding: 40px;
}

main{
    display: flex;
}

nav,section,aside{
    padding: 20px;
}

nav{
    background-color: green;
    height: 400px;
    flex-basis: 20%;

}
section{
    background-color: blue;
    color: white;
    height: 400px;
    flex-basis: 60%;


}
aside{
    background-color: yellow;
    height: 400px;
    flex-basis: 20%;

}

footer{
    background-color:  black;
    color: white;
    text-align: center;
    padding: 50px;
}

@media only screen and (max-width: 768px) {
    main{
        flex-wrap: wrap;
    }
    nav{
        flex-basis: 30%;
        height: unset;
    }
    section{
        flex-basis: 70%;
        height: unset;
    }
    aside{
        flex-basis: 100%;
        height: unset;
    }
}
@media only screen and (max-width: 600px) {
    main{
        flex-direction: column;
    }
    aside{
        display: none;
    }
}

/* @media not|only mediatype and (ediafeature and|or|not mediafeature) {
    CSS-Code;
}  */